body {
  background-image: url("annie-spratt-8mqOw4DBBSg-unsplash-min_11zon.png");
  background-size: cover;
  background-color: #DFF2EB;
  height: 100%;

  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;

  color: #4A628A;

  line-height: 2em;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.card {
  width: 100%;
  min-width: 230px;
  margin: 30px auto;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 20%;
  padding: 20px 5%;
  box-shadow: 0px 10px 30px rgba(30, 114, 96, 0.9);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9)
}

img {
  max-width: 200px;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 10px;
}

h1, h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  color: #527c66;
  font-size: 48px;
  line-height: 1.5em;
}

a {
  color: #4A628A;
  text-decoration: none;
}

a:hover {
  color: #83ab8c;
  transition: 0.4s;
}

ul {
  list-style: none;
  list-style-type: none;
  list-style-position: inside;
  text-align: center;
  color: #4A628A;
  line-height: 30px;
  font-size: 80px;
  padding: 0;
}

li {
  display: inline;
  margin-right: 10px;
}

#item3 {
  min-block-size: 30%;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
